.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .app-sidenav-container {
    flex: 1;
    margin-top: 64px;
  }
  
  .app-sidenav {
    width: 250px;
  }
  
  .app-content {
    padding: 20px;
  }
  
  .active-link {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 599px) {
    .app-sidenav-container {
      margin-top: 56px;
    }
  }