<!--src/app/components/form-generator/form-generator.component.html-->
<div class="form-generator">
  <h1 class="form-generatortitle">{{ parsedCode?.entryName || 'Dynamic Form Generator' }}</h1>
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="onSave()" class="form-generatorform">
      <div class="form-generatorgrid">
        @for (field of fields; track field.name) {
          <div class="form-generatorfield-container" [ngClass]="{'form-generatorfield-container--full': field.type === 'LIST' || field.type === 'TABLE' || field.type === 'STOPWATCH' || field.type === 'TIMER'}">            @switch (field.type) {
              @case ('TEXT') {
                <app-dynamic-field [field]="field" [control]="getFormControl(field.name)"></app-dynamic-field>
              }
              @case ('NUMBER') {
                <app-dynamic-field [field]="field" [control]="getFormControl(field.name)"></app-dynamic-field>
              }
              @case ('DATE') {
                <app-dynamic-field [field]="field" [control]="getFormControl(field.name)"></app-dynamic-field>
              }
              @case ('BOOLEAN') {
                <app-dynamic-field [field]="field" [control]="getFormControl(field.name)"></app-dynamic-field>
              }
              @case ('SCALE') {
                <app-dynamic-field [field]="field" [control]="getFormControl(field.name)"></app-dynamic-field>
              }
              @case ('LIST') {
                <div class="form-generatorlist">
                  <h3 class="form-generatorlist-title">{{ field.name }}</h3>
                  <p class="form-generatorlist-description">{{ field.description }}</p>
                  <div class="form-generatorlist-items" [formArrayName]="field.name">
                    @for (item of getListControls(field.name); track $index) {
                      <div class="form-generatorlist-item">
                        <div class="form-generatorlist-item-fields" [formGroupName]="$index">
                          @for (listField of field.options.listFields || []; track listField.name) {
                            @if (item.get(listField.name)) {
                              <app-dynamic-field
                                [field]="listField"
                                [control]="item.get(listField.name)!"
                              ></app-dynamic-field>
                            }
                          }
                        </div>
                        <button mat-icon-button color="warn" (click)="removeListItem(field.name, $index)" type="button" [disabled]="isTemplate || readOnly">
                          <mat-icon>delete</mat-icon>
                        </button>
                        
                      </div>
                    }
                  </div>
                  <button mat-raised-button color="primary" (click)="addListItem(field)" type="button" [disabled]="isTemplate || readOnly">
                    Add Item
                  </button>
                  
                </div>
              }

              @case ('TABLE') {
                <div class="form-generatortable">
                  <h3 class="form-generatortable-title">
                    {{ field.name }}
                    @if (field.required && !isTemplate) {
                      <span class="required-indicator">*</span>
                    }
                  </h3>
                  <p class="form-generatortable-description">{{ field.description }}</p>
                  <div class="form-generatortable-container">
                    <table mat-table [dataSource]="getTableDataSource(field.name)" class="form-generatormat-table">
                      
                      @for (column of field.options.columns || []; track column.name) {
                        <ng-container [matColumnDef]="column.name">
                          <th mat-header-cell *matHeaderCellDef>{{ column.description }}</th>
                          <td mat-cell *matCellDef="let rowGroup">
                            <div [formGroup]="rowGroup">
                              <app-dynamic-field [field]="column" [control]="rowGroup.get(column.name)"></app-dynamic-field>
                            </div>
                          </td>
                        </ng-container>
                      }
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let rowGroup; let rowIndex = index">
                          <button mat-icon-button color="warn" type="button" (click)="removeTableRow(field, rowIndex)" [disabled]="isTemplate || readOnly">
                            <mat-icon>delete</mat-icon>
                          </button>
                        
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="getTableColumns(field)"></tr>
                      <tr mat-row *matRowDef="let rowGroup; columns: getTableColumns(field);"></tr>
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="100%">No data</td>
                      </tr>
                    </table>
                  </div>
                  <button mat-raised-button color="accent" type="button" (click)="addTableRow(field)" [disabled]="isTemplate">
                    <mat-icon>add</mat-icon> Add Row
                  </button>
                  @if (field.required && !isTemplate && getTableDataSource(field.name).data.length === 0) {
                    <p class="error-message">This table is required. Please add at least one row.</p>
                  }
                </div>
              }
  
              @case ('STOPWATCH') {
                <app-time-management
                  [label]="field.name"
                  [description]="field.description"
                  [type]="'stopwatch'"
                  [settings]="getStopwatchSettings(field)"
                  [savedData]="getSavedTimeManagementData(field.name)"
                  [isSubmittedInstance]="isSubmittedInstance"
                  [readOnly]="readOnly"
                  (valueChange)="onTimeManagementValueChange(field.name, $event)">
                </app-time-management>
              }
              @case ('TIMER') {
                <app-time-management
                  [label]="field.name"
                  [description]="field.description"
                  [type]="'timer'"
                  [settings]="getTimerSettings(field)"
                  [savedData]="getSavedTimeManagementData(field.name)"
                  [isSubmittedInstance]="isSubmittedInstance"
                  [readOnly]="readOnly"
                  (valueChange)="onTimeManagementValueChange(field.name, $event)">
                </app-time-management>
              }
            }
          </div>
        }
      </div>
      <div class="form-generator__actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!isFillable()">
          {{ isTemplate ? 'Save Template' : 'Submit Form' }}
        </button>
      </div>
    </form>
  } @else {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</div>

